a {
  color: #4d92ce;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

#banner {
  background-size: cover;
}

#about-content {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 40em;
}

.company-logo {
  width: 12em;
  height: auto;
}
